In [1]:
#pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from config import dbpass

In [6]:
engine = create_engine(f'postgresql://postgres:{dbpass}@localhost:5432/HR')
db = engine.connect()

In [13]:
cursor = db.execute("SELECT emp_no, first_name, last_name from Employees")  
employee = cursor.fetchall()
cursor.close()

In [14]:
df_empdata = pd.DataFrame(employee, columns=['emp_no', 'first_name', 'last_name'])
df_empdata.head()

   emp_no  first_name  last_name
0  473302    Hideyuki   Zallocco
1  475053       Byong  Delgrande
2   57444       Berry       Babb
3  421786       Xiong   Verhoeff
4  282238  Abdelkader    Baumann

In [18]:
cursor = db.execute("SELECT salary from epmployee_salaries")  
salaries = cursor.fetchall()
cursor.close()

In [19]:
df_salary = pd.DataFrame(salaries, columns=['salary'])
df_salary.head()

   salary
0   60117
1   78228
2   72488
3   42365
4   40000

In [ ]:
plt.hist(df_salary['salary'], bins=20)
plt.show()